<nav class="menu">
  <div class="grid-x">
      <div class="small-6">
        <%= image_tag(asset_path('fake_logo.png'), class: "menu__logo") %>
      </div>
      <div class="small-6 right-side-menu">
        <ul class="list list--horizontal menu__list">
          <li class="list__item">
            <a href="#0" class="menu__item">Collection</a>
          </li>
          <li class="list__item">
            <a href="#0" class="menu__item">About Us</a>
          </li>
          <li class="list__item">
            <a href="#0" class="menu__item">My Shopping Bag</a>
          </li>
        </ul>
      </div>
  </div>
</nav>