.grid-container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.grid-x {
  display: flex;
  flex-flow: row wrap;
}

.small-12 {
  width: 100%;
}

.small-6 {
  width: 50%;
}

.large-3 {
  @media all and (min-width: 1025px) {
    width: 25%;
  }
}